.list {
  display: flex;
  flex-direction: column;
  font-family: var(--ruc-font-family);
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--ruc-color-surface);
  border-bottom: 1px solid var(--ruc-color-secondary);
  cursor: grab;
  touch-action: none;
  user-select: none;
}

.item.dragging {
  cursor: grabbing;
  z-index: 1;
  box-shadow: var(--ruc-shadow-sm);
}
