.sidenav {
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: white;
  z-index: 10;
  border-right: 1px solid #e1e1e1;
}

.sidenav .sidenav-items {
  padding: 10px;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
  flex: 1;
  text-align: center;
  border-radius: 4px;
}

.sidenav .sidenav-items.active {
  background: #3399ff;
  color: white;
}

.sidenav .sidenav-items:hover {
  background: #3399ff;
  color: white;
}
